body {
  margin: 0;
  padding: 0;
  font:
    normal 75% Arial,
    Helvetica,
    sans-serif;
  background-color: #101317;
  word-spacing: 3px;
  color: #a9a9b3;
  font-family: "Orbitron", cursive;
}

h2 {
  line-height: 2rem;
}

a,
a::before,
a::after {
  color: #a9a9b3;
}

.container {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.typeIt {
  padding: 0.5rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
